<!DOCTYPE html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid">
    <h1 class="bright-cell"><%= itemData.Name %></h1>
    <p><%= itemData.AlterNames %></p>
</header>
<section class="bright-board" class="container-fluid">
    <a href="/universe/<%= itemData.IdParent %>">
        <h2 class="bright-cell">From <%= itemData.Parent %></h2>
    </a>
    <h3><%= itemData.Gender %></h3>
    <p>
        <%= itemData.Desc %>
    </p>
</section>
<!-- From here, you can add character to your harems -->
<% if (typeof(itemData.harems)!='undefined') { %>
    <section class="bright-board">
    <p class="bright-cell">You can add this character to your harems :</p>
        <!-- display the harems -->
        <% for ( i = 0 ; i < itemData.harems.length ; i++ ) { %>
            <div class="bright-cell" class="container-fluid">
                <button data-toggle="collapse" data-target="#WedIt<%=i %>">Wed it</button>
                <a href="/user/<%= logs.login %>/<%= itemData.harems[i].haremid %>">
                <%= itemData.harems[i].haremname %>
                </a>
                <div id="WedIt<%=i %>" class="collapse">
                    <form action="/user/<%= logs.login %>/<%= itemData.harems[i].haremid %>" method="post">
                        <p>
                            Comment your wedding:
                        </p><p>
                            <textarea name="WedDesc" minlength="30" maxlength="660" required></textarea>
                        </p><p>
                        <input type="checkbox" name="Favorite">Favorite of the harem
                        </p>
                        <input hidden name="CharId" value="<%= itemData.Id %>"/>
                        <input type="submit" value="add"/>
                    </form>
                </div>
            </div>
        <% } %>
    </section>
<% } %>
</body>
</html>
