<!DOCTYPE html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head">
    <div class="bright-cell">
    <h1><%= harem.haremname %></h1>
    <h3>harem of <%= harem.haremowner %>
    </div>
    <p>
        <%= harem.haremdesc %>
    </p>
</header>
<section class="bright-board">
    <div class="panel-group" id="accordion">
        <% for ( i = 0 ; i < harem.weddings.length ; i++) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i %>">
                        <%= harem.weddings[i].charname %>
                        </a>
                    </h2>
                </div>
                <div id="collapse<%=i %>" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <%= harem.weddings[i].weddesc %>
                        <a href="/characs/<%= harem.weddings[i].charid %>">
                        -> <%= harem.weddings[i].charname %>
                        </a>
                    </div>
                </div>
            </div>
      <% } %>
    </div> 
</section>
</body>
</html>