<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid">
    <h1 class="bright-cell"><%= itemData.Name %></h1>
</header>
<div class="bright-board" class="container-fluid">
    <p>
        <%= itemData.Desc %>
    </p>
</div>
<div class="bright-board" class="container-fluid">
    <button data-toggle="collapse" data-target="#New">New Character</button>
    <div id="New" class="collapse">
        <form action="/characs" method="post">
            <p>
                Name :</p><p>
                <input type="text" name="CharName" autofocus required/>
            </p><p>
                Alternatives Names :</p><p>
                <input type="text" name="AlterNames" required/>
            </p><p>
                Describe it a bit:</p><p>
                <textarea name="CharDesc" minlength="30" maxlength="660" required></textarea>
            </p><p>
            <input type="radio" name="CharGender" value="Husband">Husband
            <input type="radio" name="CharGender" value="Waifu">Waifu
            </p>
            <input hidden name="UniverseName" value="<%= itemData.Name %>"/>
            <input type="submit" value="add"/>
        </form>
    </div>
</div>
<% if ( itemData.Characs.length > 0 ) { %>
<section class="bright-board" class="container-fluid">
    <div class="row">
        <% for (i=0; i < itemData.Characs.length; i++) {%>
            <div class="col-sm-3">
                <a href="/characs/<%= itemData.Characs[i].charid %>">
                    <span class="bright-cell">
                        <%= itemData.Characs[i].charname %>
                    </span>
                </a>
            </div>
        <% } %>
    </div>
</section>
<% } %>
</body>
</html>