<!DOCTYPE html>
<html>
<head>
    <title>MyHaremList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MHL.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    <img class="mhl-logo" src="/logo.svg" alt="MHL logo" >
                    MyHaremList
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/search">
                    <span class="glyphicon glyphicon-search"> Search
                    </span>
                    </a>
                </li>
            </ul>
            <section name="user-pan">
                <% if (!logs.logged) { %>
    <!-- This all part of the nav bar is displayed for visitor-->
                    <div name="logger">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/user">
                                    <span class="glyphicon glyphicon-user">
                                    </span> Sign Up
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-log-in"> Login
                                    </span>
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <form  action="/login" method="post">
                                        <li>
                                            <input type="text" name="nickname" placeholder="Nickname" required>
                                        </li>
                                        <li>
                                            <input type="password" name="password" placeholder="Password" required>
                                        </li>
                                        <li>
                                            <input type="submit" value="Login">
                                        </li>
                                    </form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <% }; %>
                <% if (logs.logged) { %>
    <!-- This whole part of the nav bar is displayed for logged-->
                <div name="logged">
                          <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/harem/<%= login %>">
                                    MyHarem
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-user"> <%= logs.login%>
                                    </span>
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/user/<%= login %>">My Profile</a>
                                    </li>
                                    <li>
                                        <form action="/logout" method="get">
                                            <a onclick="$(this).parent().submit();"> 
                                                <span class="glyphicon glyphicon-log-out">
                                                </span>
                                                Log out
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
    <!-- End of alternatives part -->
                <% }; %>
            </section>
        </div>
    </div>
</nav>
<header class="bright-head" class="container-fluid">
    <h1>Univers Section !</h1>
    <h5>Or multiversection.</h5>
</header>
<div class="bright-board" class="container-fluid">
    <h3>Use the search page before adding a new univers</h3>
    <h5>Heavy responsabilities rest on this action</h5>
</div>
<% if ( typeof( error ) != 'undefined' ) { %>
    <div class="bright-head" class="container-fluid">
        <span><%= error %></span>
    </div>
<% }; %>
<% if ( typeof( redirect ) != 'undefined' ) { %>
    <div class="bright-head" class="container-fluid">
        <a href="<%= redirect %>">Created here</a>
    </div>
<% }; %>
<div class="bright-board" class="container-fluid">
    <form action="/univers" method="post">
        <label for="universName">Name :</label>
        <input type="text" name="universName" autofocus required/>
        <input type="submit" value="Add">
    </form>
</div>
</body>
</html>