<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid">
    <h1 class="bright-cell"><%= itemData.Name %></h1>
</header>
<div class="bright-board" class="container-fluid">
    <h3><%= itemData.Email %></h3>
</div>
<% if (itemData.Id == logs.login) { %>
<script>
var editUser = function(){
    if($('#password').val()!="" 
        && $('#newpassword').val()!="" 
        && $('#newemail').val()!=""){
        $.ajax({
            url:'/user/<%= itemData.Id %>',
            type:'PUT',
            data:{password:$('#password').val(),
                newpassword:$('#newpassword').val(),
                newemail:$('#newemail').val()
            },
            success:function(result,status){
                return location.reload(true);
            }
        });
    }
}
var deleteUser = function(){
    $.ajax({ url:'/user/<%= itemData.Id %>', type:'DELETE',
        data:{password:$('#password').val()},
        success:function(result,status){
            return $.ajax({
                url:'/log', type:'delete',success:function(result,status)
                {return location.href = '/user'}
            });
        }
    });
};
var deleteHarem = function(user,haremid){
    $.ajax({
        url:('/user/'+user+'/'+haremid),
        type:'delete',
        success:function(result,status){
            return location.reload(true);
        }
    });
}
</script>
<!-- edit user button -->
    <div class="bright-board" class="container-fluid">
        <button data-toggle="collapse" data-target="#Edit">edit User</button>
        <div id="Edit" class="collapse">
            <form>
                <p>New email</p><p>
                    <input type="email" name="newemail" id="newemail" value="<%= itemData.Email %>" required/>
                </p><p>New password:</p><p>
                    <input type="password" name="newpassword" id="newpassword" required/>
                </p><p>Old password:</p><p>
                    <input type="password" name="password" id="password" required>
                </p>
                </form>
                <button onclick="editUser();">Edit User</button>
                <button onclick="deleteUser();">Delete User</button>
        </div>
    </div>
<!-- Newharem buttons -->
    <div class="bright-board" class="container-fluid">
        <button data-toggle="collapse" data-target="#New">New harem</button>
        <div id="New" class="collapse">
            <form action="/user/<%= itemData.Id %>" method="post">
                <p>
                    Name :</p><p>
                    <input type="text" name="haremName" autofocus required/>
                </p><p>
                    Describe it a bit:</p><p>
                    <textarea name="haremDesc" minlength="30" maxlength="660" required></textarea>
                </p>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
<% } %>
<% if (typeof(itemData.harems)!='undefined') { %>
    <section class="bright-board">
    <p>Visit <%= itemData.Name %> 's harems :</p>
        <!-- display the harems -->
        <% for ( i = 0 ; i < itemData.harems.length ; i++ ) { %>
            <div class="bright-cell">
                <% if (itemData.Id == logs.login) { %>
                <button onclick="deleteHarem('<%= itemData.Id %>',
                    '<%=itemData.harems[i].haremid%>')">
                    X
                </button>
                <% } %>
                <a href="/user/<%= itemData.Id %>/<%= itemData.harems[i].haremid %>">
                <%= itemData.harems[i].haremname %>
                </a>
            </div>
        <% } %>
    </section>
<% } %>
</body>
</html>