<!DOCTYPE html>
<html>
<head>
    <title>MyHaremList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MHL.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    <img class="mhl-logo" src="/logo.svg" alt="MHL logo" >
                    MyHaremList
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/search">
                    <span class="glyphicon glyphicon-search"> Search
                    </span>
                    </a>
                </li>
            </ul>
            <section name="user-pan">
                <% if (!logs.logged) { %>
    <!-- This all part of the nav bar is displayed for visitor-->
                    <div name="logger">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/user">
                                    <span class="glyphicon glyphicon-user">
                                    </span> Sign Up
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-log-in"> Login
                                    </span>
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <form  action="/login" method="post">
                                        <li>
                                            <input type="text" name="nickname" placeholder="Nickname" required>
                                        </li>
                                        <li>
                                            <input type="password" name="password" placeholder="Password" required>
                                        </li>
                                        <li>
                                            <input type="submit" value="Login">
                                        </li>
                                    </form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <% }; %>
                <% if (logs.logged) { %>
    <!-- This whole part of the nav bar is displayed for logged-->
                <div name="logged">
                          <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-user"> <%= logs.login%>
                                    </span>
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/user/<%= logs.login %>">My Profile</a>
                                    </li>
                                    <li>
                                        <form action="/logout" method="get">
                                            <a onclick="$(this).parent().submit();"> 
                                                <span class="glyphicon glyphicon-log-out">
                                                </span>
                                                Log out
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
    <!-- End of alternatives part -->
                <% }; %>
            </section>
        </div>
    </div>
</nav>
<header class="bright-head" class="container-fluid">
    <h1 class="bright-cell"><%= itemData.Name %></h1>
</header>
<div class="bright-board" class="container-fluid">
    <h3><%= itemData.Email %></h3>
</div>
<% if (itemData.Id == logs.login) { %>
    <div class="bright-board" class="container-fluid">
        <button data-toggle="collapse" data-target="#New">New harem</button>
        <div id="New" class="collapse">
            <form action="/user/<%= itemData.Id %>" method="post">
                <p>
                    Name :</p><p>
                    <input type="text" name="haremName" autofocus required/>
                </p><p>
                    Describe it a bit:</p><p>
                    <textarea name="haremDesc" minlength="30" maxlength="660" required></textarea>
                </p>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
<% } %>
<% if (typeof(itemData.harems)!='undefined') { %>
    <section class="bright-board">
    <p>Visit <%= itemData.Name %> 's harems :</p>
        <!-- display the harems -->
        <% for ( i = 0 ; i < itemData.harems.length ; i++ ) { %>
            <div class="bright-cell">
                <a href="/user/<%= itemData.Id %>/<%= itemData.harems[i].haremid %>">
                <%= itemData.harems[i].haremname %>
                </a>
            </div>
        <% } %>
    </section>
<% } %>
</body>
</html>